<template>
  <div class="change-password">
    <mu-paper class="change-password-paper" :zDepth="2">
      <el-form :model="ruleForm2" :rules="rules2" ref="ruleForm2" label-width="200px" class="demo-ruleForm">
        <el-form-item label="Original password" prop="originalPass">
          <el-input type="password" v-model="ruleForm2.originalPass" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="New password" prop="pass">
          <el-input type="password" v-model="ruleForm2.pass" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item label="Repeat new password" prop="checkPass">
          <el-input type="password" v-model="ruleForm2.checkPass" auto-complete="off"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm2')">Submit</el-button>
          <el-button @click="resetForm('ruleForm2')">Reset</el-button>
        </el-form-item>
      </el-form>
    </mu-paper>
  </div>
</template>

<script>
  export default {
    data() {
      var validatePass = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('Please enter password'));
        } else {
          if (this.ruleForm2.checkPass !== '') {
            this.$refs.ruleForm2.validateField('checkPass');
          }
          callback();
        }
      };
      var validatePass2 = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('Please re-enter password'));
        } else if (value !== this.ruleForm2.pass) {
          callback(new Error('Incorrect repeat password!'));
        } else {
          callback();
        }
      };
      return {
        ruleForm2: {
          pass: '',
          checkPass: '',
          originalPass: ''
        },
        rules2: {
          pass: [
            {validator: validatePass, trigger: 'blur'}
          ],
          checkPass: [
            {validator: validatePass2, trigger: 'blur'}
          ]
        }
      };
    },
    methods: {
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.$http.post("http://localhost:8080/user/changepassword", {
              id: sessionStorage.getItem("userId"),
              password: this.ruleForm2.originalPass,
              newPassword: this.ruleForm2.pass
            }).then((response) => {
                if (response.body) {
                  console.log(response.body)
                  sessionStorage.removeItem("userId")
                  this.$message.success('Password changed!');
                  this.$router.push("/sign")
                } else {
                  this.$message.error('Bad response!');
                  console.log(response.body)
                }
              }, (response) => {
                this.$message.error('Error!');
                console.log(response.body)
              }
            )

          } else {
            this.$message.error('Please check requirements before submitting!');
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss">

  .change-password {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    .mu-paper {
      height: 400px;
      width: 600px;
      padding-top: 50px;
      display: flex;
      justify-content: center;

      position: absolute;
      flex-wrap: wrap;
    }
  }
</style>
