<template>
  <div class="logout">
    log out
  </div>
</template>

<script>

  export default{
    mounted(){
      this.$http.get("http://localhost:8080/logout").then((response) => {
        console.log("logging out")
        sessionStorage.removeItem("userId")
        this.$router.push("/sign")
      })
    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss">
</style>
