<template>
  <div class="modifyInfo">
    <mu-paper class="change-password-paper" :zDepth="2" >
    <el-form :model="modifyInfoForm" ref="modifyInfoForm" label-width="100px" class="modifyInfoForm">
      <el-form-item>
        <el-upload
          class="avatar-uploader"
          action="http://localhost:8080/upload/avatar"
          :with-credentials="true"
          :show-file-list="false"
          :on-success="handleAvatarSuccess"
          :before-upload="beforeAvatarUpload">
          <img v-if="imageUrl" :src="imageUrl" class="avatar">
          <i v-else class="el-icon-plus avatar-uploader-icon"></i>
        </el-upload>
        <div>
          <i class="fa fa-hand-pointer-o"></i> Upload your AVATAR here<i class="fa fa-hand-pointer-o"></i></div>
      </el-form-item>
      <el-form-item
        prop="email"
        label="Change Email"
        :rules="[
      { required: true, message: 'Please enter email', trigger: 'blur' },
      { type: 'email', message: 'Please enter correct email', trigger: 'blur,change' }
    ]">
        <el-input v-model="modifyInfoForm.email"></el-input>

      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submitForm('modifyInfoForm')">Submit</el-button>
        <el-button @click="resetForm('modifyInfoForm')">Reset</el-button>
      </el-form-item>
    </el-form>
    </mu-paper>


  </div>
</template>

<script>
  export default{
    data(){
      return {
        imageUrl: '',
        modifyInfoForm: {
          email: "",
          avatar:"",
        }
      }
    },
    methods: {
      handleAvatarSuccess(res, file) {
        this.imageUrl = URL.createObjectURL(file.raw);
        console.log(this.imageUrl)
      },
      beforeAvatarUpload(file) {
        const isLt2M = file.size / 1024 / 1024 < 2;
        if (!isLt2M) {
          this.$message.error('Maximum size 2MB!');
        }
        return isLt2M;
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.$http.post("http://localhost:8080/users/email", {
              id: sessionStorage.getItem("userId"),
              email: this.modifyInfoForm.email
            }).then((response) => {
                if (response.body.result) {
                  console.log(response.body)
                  this.$message.success('Success!');
                } else {
                  this.$message.error('Bad response!');
                  console.log(response.body)
                }
              }, (response) => {
                this.$message.error('Error!');
                console.log(response.body)
              }
            )
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      },

    }

  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss">
  .modifyInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    .mu-paper {
      height: 500px;
      width: 600px;
      padding-top: 50px;
      display: flex;
      justify-content: center;
      position: absolute;
      flex-wrap: wrap;

      .el-form {
        width: 50%;
        align-items: center;
        .avatar-uploader .el-upload {
          text-align: center;
          align-content: center;
          border: 5px dashed #d9d9d9;
          border-radius: 10px;
          cursor: pointer;
          position: relative;
          overflow: hidden;
        }
        .avatar-uploader .el-upload:hover {
          border-color: #20a0ff;
        }
        .avatar-uploader-icon {
          font-size: 28px;
          color: #8c939d;
          width: 178px;
          height: 178px;
          line-height: 178px;
          text-align: center;
        }
        .avatar {
          width: 178px;
          height: 178px;
          display: block;
        }
      }
    }
  }

</style>
