<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'app',
  }
</script>

<style rel="stylesheet/scss" lang="scss">
  #app{
    .el-upload-list__item.is-success .el-icon-close, .el-upload__input {
      display: none !important;
    }
  }
</style>
