<template>
  <div class="navibar">
    <div class="nav-placeholder"></div>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" >Serendipity</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav">
          <li :class="{'active':$route.path=='/home'}">
            <el-tooltip content="Homepage" placement="bottom" effect="light">
              <router-link to="/home"><i class="fa fa-home"></i></router-link>
            </el-tooltip>

          </li>
          <li :class="{'active':$route.path=='/about'}">
            <el-tooltip content="About Serendipity" placement="bottom" effect="light">
            <router-link to="/about"><i class="fa fa-info-circle"></i></router-link>
            </el-tooltip>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li :class="{'active':$route.path=='/upload'}">
            <el-tooltip content="Upload" placement="bottom" effect="light">
            <router-link to="/upload"><i class="el-icon-upload"></i></router-link>
            </el-tooltip>
          </li>
          <li :class="{'active':$route.path=='/search'}">
            <el-tooltip content="Search" placement="bottom" effect="light">
            <router-link to="/search"><i class="el-icon-search"></i></router-link>
            </el-tooltip>
          </li>
          <li :class="{'active':$route.path=='/notifications/'}">
            <el-tooltip content="Notifications" placement="bottom" effect="light">
            <router-link to="/notifications"><i class="fa fa-envelope-open"></i></router-link>
            </el-tooltip>
          </li>
          <li :class="{'active':$route.path=='/photos'}">
            <el-tooltip content="My photos" placement="bottom" effect="light">
            <router-link :to="'/'+user.id+'/photos'"><i class="glyphicon glyphicon-user"></i></router-link>
            </el-tooltip>
          </li>
          <li :class="sidebar">
            <el-tooltip content="Settings" placement="bottom" effect="light">
            <a @click="toggle(true)"><i class="glyphicon glyphicon-cog"></i></a>
            </el-tooltip>
          </li>
        </ul>

      </div><!--/.nav-collapse -->
    </div>
  </nav>

    <mu-drawer right :open="open" :docked="docked" @close="toggle()">
      <mu-appbar title="Settings" />
      <mu-list @itemClick="docked ? '' :toggle()">

        <router-link to="/profile/changepassword">
          <mu-list-item @click="toggle(true)"><i class="fa fa-key"></i>  Change password</mu-list-item>
        </router-link>
        <router-link to="/profile/modifyinfo">
          <mu-list-item @click="toggle(true)"><i class="fa fa-info-circle"></i>  Modify information</mu-list-item>
        </router-link>
        <router-link to="/profile/logout">
          <mu-list-item @click="toggle(true)"><i class="fa fa-sign-out"></i>  Log out</mu-list-item>
        </router-link>
        <mu-list-item v-if="docked" @click.native="open = false" title="Close"/>
      </mu-list>
    </mu-drawer>

  </div>
</template>


<script>
  import userService from 'src/service/user_service'
  export default {
    name: 'navbar',
    data() {
      return {
        open: false,
        docked: true,
        user:{username:''}
      };
    },
    mounted(){
      userService.getCurrentUser().then(res=>{
          this.user = res.body
      })
    },
    methods: {
      toggle (flag) {
        this.open = !this.open
        this.docked = !flag
      }
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss">
  .navibar{
    .nav-placeholder{
      height: 50px;
    }

  }
</style>
