<template>
  <div class="photo_card">
    <mu-card>
      <mu-card-header>
        <img :src="'http://localhost:8080/avatar/'+user.avatar" style="width: 40px;height: 40px"/>
        <span style="font-size: 16px">
          <router-link :to="'/'+user.id+'/photos'">
          {{user.username}}
          </router-link>
        </span>
        <template v-if="!isMe">
          <button v-if="followStatus" class="btn btn-warning" style="float: right" @click="follow">Unfollow</button>
          <button v-else class="btn btn-primary" style="float: right" @click="follow">follow</button>
        </template>
        <template v-else>
          <button class="btn btn-danger" style="float: right" @click="deletePhoto">Delete</button>
        </template>
      </mu-card-header>
      <mu-card-media :title="photo.name" :subTitle="subtitle">
        <img :src="'http://localhost:8080/'+photo.resourceName"/>
      </mu-card-media>
      <mu-chip class="demo-chip" style="margin:10px" v-for="tag in photo.tag">
        {{tag}}
      </mu-chip>
      <mu-card-text>
        {{photo.text}}
      </mu-card-text>
      <mu-card-actions>
        <mu-raised-button secondary @click="likePhoto">
          <template v-if="likeStatus">
            <i class="fa fa-heart"></i>
            <span style="margin-left: 5px">Like {{likesCount}}</span>
          </template>
          <template v-else>
            <i class="fa fa-heart-o"></i>
            <span style="margin-left: 5px">Like {{likesCount}}</span>
          </template>
        </mu-raised-button>
        <mu-raised-button primary ref="button" @click="toggle">
          <span>Rate </span>
          <span style="margin-left: 2px">{{averageRating}}</span>
        </mu-raised-button>
        <mu-popover :trigger="trigger" :open="open" :autoPosition="false" :anchorOrigin="anchorOrigin"
                    :targetOrigin="targetOrigin" @close="handleClose">
          <mu-menu>
            <el-rate
              v-model="rating"
              style="text-align: center"
              :colors="['#99A9BF', '#F7BA2A', '#FF9900']">
            </el-rate>
          </mu-menu>
        </mu-popover>
        <mu-raised-button label="Comment" @click="showComments=!showComments"></mu-raised-button>
        <mu-icon-button tooltip="Info" @click="openDialog"><i class="fa fa-info-circle"></i></mu-icon-button>
      </mu-card-actions>
      <div class="comments-box" v-show="showComments">
        <div v-for="comment in comments" class="comment">
          <router-link :to="'/'+comment.userId+'/photos'">
            {{comment.username}}
          </router-link>
          <span>: {{comment.text}}</span>
        </div>
        <div style="display: flex;">
          <input type="text" style="flex: 1;margin-right: 5px" v-model="commentMessage">
          <button class="btn btn-primary btn-sm" @click="submitComment">Submit</button>
        </div>
      </div>
    </mu-card>

    <mu-dialog :open="dialog" @close="close" title="Photo metadata information">
      <mu-menu>
        <div ref="map" style="width: 100%;height: 400px"></div>
      </mu-menu>
      <mu-flat-button primary label="Close" @click="close" slot="actions"/>
    </mu-dialog>

  </div>
</template>

<script>
  import EXIF from 'exif-js'
  export default{
    data(){
      return {
        map:null,
        dialogMessage: '',
        dialog: false,
        followStatus: false,
        rating: 0,
        averageRating: 0,
        commentMessage: '',
        likeStatus: false,
        likesCount: 0,
        comments: [],
        showComments: false,
        open: false,
        trigger: null,
        anchorOrigin: {
          vertical: 'bottom',
          horizontal: 'middle'
        },
        targetOrigin: {
          vertical: 'top',
          horizontal: 'middle'
        },
      }
    },
    props: {
      user: Object,
      photo: Object,
      currentUser: Object,
    },
    watch: {
      'user': function () {
        this.fetch()
      },
      'photo': function () {
        this.fetch()
      },
      'currentUser': function () {
        this.fetch()
      },
      'rating': function () {
        this.$http.post('http://localhost:8080/rates', {
          userId: this.currentUser.id,
          photoId: this.photo.id,
          rate: this.rating
        }).then(res => {
          this.fetchPhotoRating()
        })
      }
    },
    mounted () {
      this.trigger = this.$refs.button.$el
      this.fetch()
    },
    computed: {
      isMe(){
        return this.user.id == this.currentUser.id
      },
      subtitle(){
        if (this.isMe)
          return this.photo.ifPrivate ? 'Private' : 'Public'
        else return ''
      }
    },
    methods: {
      fetch(){
        this.fetchComments()
        this.$http.get('http://localhost:8080/likes?userId=' + this.currentUser.id + '&photoId=' + this.photo.id)
          .then(res => {
            if (res.body) {
              this.likeStatus = true
            } else {
              this.likeStatus = false
            }
          })
        this.fetchLikes()
        this.fetchPhotoRating()
        this.fetchFollow()
      },
      fetchPhotoRating(){
        this.$http.get('http://localhost:8080/photos/' + this.photo.id + '/rates')
          .then(res => {
            this.averageRating = res.body.toFixed(1)
          })
      },
      fetchLikes(){
        this.$http.get('http://localhost:8080/photos/' + this.photo.id + '/likes')
          .then(res => {
            this.likesCount = res.body.length
          })
      },
      fetchComments(){
        this.$http.get('http://localhost:8080/photos/' + this.photo.id + '/comments')
          .then(res => {
            console.log(res.body)
            this.comments = res.body
          })
      },
      fetchFollow(){
        this.$http.get('http://localhost:8080/users/follows', {
          params: {
            userId: this.currentUser.id,
            followedId: this.user.id
          }
        }).then(res => {
          this.followStatus = res.body
        })
      },
      follow(){
        if (this.followStatus) {
          this.$http.delete('http://localhost:8080/users/follows', {
            params: {
              userId: this.currentUser.id,
              followedId: this.user.id
            }
          })
        } else {
          this.$http.post('http://localhost:8080/users/follows', {
            userId: this.currentUser.id,
            followedId: this.user.id
          })
        }
        this.followStatus = !this.followStatus
      },
      submitComment(){
        this.$http.post('http://localhost:8080/comments', {
          userId: this.currentUser.id,
          photoId: this.photo.id,
          text: this.commentMessage
        }).then(res => {
          this.commentMessage = ''
          this.$message('Comment submited.')
          this.fetch()
        })
      },
      toggle () {
        this.open = !this.open
      },
      handleClose (e) {
        this.open = false
      },
      likePhoto(){
        if (this.likeStatus) {
          this.$http.delete('http://localhost:8080/likes', {
            params: {
              userId: this.currentUser.id,
              photoId: this.photo.id
            }
          }).then(res => {
            this.fetchLikes()
          })
        } else {
          this.$http.post('http://localhost:8080/likes', {
            userId: this.currentUser.id,
            photoId: this.photo.id
          }).then(res => {
            this.fetchLikes()
          })
        }
        this.likeStatus = !this.likeStatus
      },

      openDialog () {
        this.dialog = true
        if(!this.map){
          this.map = new AMap.Map(this.$refs.map, {
            resizeEnable: true,
            zoom:11,
            center: [this.photo.coordinateX, this.photo.coordinateY]
          });
          let marker = new AMap.Marker({
            position: [this.photo.coordinateX, this.photo.coordinateY],
            map:this.map,
            title:this.photo.name
          });
        }
        console.log("open dialog")
      },
      close () {
        this.dialog = false
      },


      deletePhoto(){
        this.$http.delete('http://localhost:8080/photos', {
          params: {
            userId: this.user.id,
            photoId: this.photo.id
          }
        }).then(res => {
          location.reload()
        })
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss">
  .photo_card {
    .comments-box {
      padding: 10px;
      box-shadow: inset 0 0 2px #555;
      .comment {
        border-top: 1px dashed #666;
        padding: 5px;
        &:first-child {
          border-top: none;
        }
      }
    }
  }
</style>
