<template>
  <div class="about">


    <Navbar></Navbar>

    <mu-paper class="demo-paper" :zDepth="5">
      <div class="message">
        <mu-badge  class="demo-badge-content">
          Serendipity
          <span style="font-size: 20px;" slot="content">&copy;</span>
        </mu-badge>
        <br><br>
        {{message1}}
      <br/>
        {{message2}}
        <br/>
        <br/>
        {{message3}}
      </div>

    </mu-paper>
  </div>
</template>

<script>
  import Navbar from '../widgets/Navbar'
  export default{
    data(){
      return {
        message1: 'Serendipity is a photo sharing website.',

        message2: 'In Serendipity, feel free to share the meaningful details in your beautiful life',
        message3: 'Be the director of your own life.'
      }
    },
    components: {
      Navbar
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss">
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    .mu-paper {
      height: 450px;
      width: 700px;
      .message {
        .mu-badge{
          font-size: 30px;
          background-color: inherit;
          color: inherit;
        }
        font-size: 30px;
        margin: 50px 50px 50px 50px;
        text-align: center;
      }
    }
  }
</style>
