<template>
  <div class="home">
    <Navbar></Navbar>
    <div class="feed">
      <photo-card class="photo" v-for="item in photoList" :user="item.user" :photo="item.photo" :currentUser="currentUser"></photo-card>
    </div>
  </div>
</template>

<script>
  import Navbar from '../widgets/Navbar'
  import userService from 'src/service/user_service'
  export default{
    data(){
      return {
        followList: [],
        photoList: [],
        currentUser: {}
      }
    },
    mounted () {
      userService.getCurrentUser().then(res => {
        this.currentUser = res.body
        return this.$http.get('http://localhost:8080/users/' + this.currentUser.id + '/follows')
      }).then(res => {
        this.followList = res.body
        for (let i = 0; i < this.followList.length; i++) {
          this.$http.get('http://localhost:8080/users/' + this.followList[i].id + '/photos')
            .then(res => {
              for (let j = 0; j < res.body.length; j++) {
                this.photoList.push({
                  user: this.followList[i],
                  photo: res.body[j]
                })
              }
            })
        }
      })
    },
    methods: {

    },
    components: {
      Navbar,
      'photo-card': require('components/widgets/PhotoCard')
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss">
  .home {
    .feed {
      padding-top: 50px;
      display: flex;
      align-items: center;
      width: 100%;
      position: absolute;
      flex-wrap: wrap;
      flex-direction: column;
      .photo{
        width: 50%;
        margin-bottom: 50px;
      }
    }
  }
</style>
