<template>
  <div class="myphoto">
    <navbar></navbar>
    <div class="user-info">
    </div>
    <div class="photos">
      <photo-card :user="user" :photo="photo" :currentUser="currentUser" v-for="photo in photoList"
                  style="margin-bottom: 50px;width: 50%"></photo-card>
    </div>
  </div>
</template>

<script>
  import Navbar from '../widgets/Navbar'
  import userService from 'src/service/user_service'
  export default{
    data(){
      return {
        subtitle: "Private",
        user: [],
        currentUser: {},
        photoList: [],
        open: false,
        trigger: null,
        userId: '',
        isMe: false,
        anchorOrigin: {
          vertical: 'bottom',
          horizontal: 'middle'
        },
        targetOrigin: {
          vertical: 'top',
          horizontal: 'middle'
        },
        rating: 0,
      }
    },
    mounted(){
      this.fetch(this.$route.params.userId)
    },
    beforeRouteUpdate(to, from, next){
      this.fetch(to.params.userId)
      next()
    },
    methods: {
      fetch(userId){
        this.userId = userId
        userService.getCurrentUser().then(res => {
          this.currentUser = res.body
          if (sessionStorage.getItem("userId") == this.userId)
            this.isMe = true
        })

        this.$http.get("http://localhost:8080/users/" + this.userId)
          .then((response) => {
              this.user = response.body
              console.log(response.body)
            }, (response) => {
              this.$message.error('Error!');
              console.log(response.body)
            }
          );

        this.$http.get("http://localhost:8080/users/" + this.userId + "/photos")
          .then((response) => {
              this.photoList = response.body
            }, (response) => {
              this.$message.error('Error!');
              console.log(response.body)
            }
          );
      },
      toggle () {
        this.open = !this.open
      },
      handleClose (e) {
        this.open = false
      }
    },


    components: {
      Navbar,
      'photo-card': require('src/components/widgets/PhotoCard.vue')
    }
  }
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss">
  .myphoto {
    .photos {
      padding-top: 50px;
      display: flex;
      align-items: center;
      width: 100%;
      position: absolute;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }
</style>
