<template>
  <div class="notification">
  <Navbar></Navbar>
    <el-row :gutter="20" >
<el-col></el-col>
      <el-col :span="12">
        <div class="menu">
          <h2 style="margin-left: 50%; margin-top: 70px">My notifications</h2>
          <router-link class="menu-item" to="/notifications/system"><span style="margin-left: 50%">System notifications</span></router-link>
          <router-link class="menu-item" to="/notifications/user"><span style="margin-left: 50%">User notifications</span></router-link>
        </div>
      </el-col>
      <el-col :span="12">
        <router-view name="notificationView"></router-view>
      </el-col>
    </el-row>
  </div>
</template>

<script>
  import Navbar from '../widgets/Navbar'
  export default{
    data(){
      return{

      }
    },

    components:{
      Navbar
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss">

  .notifications {

    .el-row {

      &:last-child {
        align-items: center;
        margin-bottom: 0;
      }
    }
    .el-col {
      align-items: center;
      border-radius: 4px;
      .menu{
        margin-left: 30%;
      }
    }

    /*display: flex;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*justify-content: center;*/
    /*position: absolute;*/
    /*align-items: center;*/
  }
</style>
