<template>
  <div class="profile">
    <Navbar></Navbar>
        <router-view name="profileView"></router-view>
  </div>
</template>

<script>
  import Navbar from '../widgets/Navbar'
  export default{
    data(){
      return {}
    },

    components: {
      Navbar
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss">

  .profile{

  }
</style>
