<template>
  <div class="search">

    <Navbar></Navbar>

    <div class="search-bar">
      <el-autocomplete
        class="search-input"
        icon="search"
        v-model="search"
        :fetch-suggestions="querySearch"
        placeholder="Want something?"
        @select="handleSelect"
        :trigger-on-focus="false"
      ></el-autocomplete>

    </div>
  </div>
</template>

<script>
  import Navbar from '../widgets/Navbar'
  export default{
    data(){
      return {
        search: '',
        input: '',
        users:[],
      }
    },
    methods: {

      querySearch(input,callback){
        this.$http.get('http://localhost:8080/users?search='+this.search)
          .then(res=>{
              callback(res.body.map(item=>{
                  return {
                      value:item.username,
                      user:item
                  }
              }))
          })
      },
      handleSelect(e){
          console.log(e)
        this.$router.push(e.user.id+'/photos')
      }
    },
    components: {
      Navbar
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style rel="stylesheet/scss" lang="scss">
  .search {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    position: absolute;
    align-items: center;
    .search-bar {
      .search-input {
        width: 500px;
      }
    }
  }
</style>
