<template>
  <div class="sign">
    <div class="login-panel">
      <div class="tab-box clearfix">
        <div class="tab login-tab" :class="{'active':pageStatus == 'login'}" @click="pageStatus='login'">Log in</div>
        <div class="tab register-tab" :class="{'active':pageStatus == 'register'}" @click="pageStatus='register'">
          Register
        </div>
      </div>
      <div class="login-wrap" v-show="pageStatus=='login'">
        <el-form :model="loginForm" :rules="loginRules" ref="loginForm" class="login-form">


          <el-form-item prop="username">
            <el-input size="large" placeholder="Username" type="text" v-model="loginForm.username"></el-input>
          </el-form-item>
          <el-form-item prop="password">
            <el-input size="large" @keyup.native.enter="login" placeholder="Password" type="password" v-model="loginForm.password"></el-input>
          </el-form-item>

        </el-form>
        <div class="btn-box login">
          <button class="btn btn-primary btn-lg" @click="login">LOG IN</button>
          <a class="forget-password">Forget password?</a>
        </div>
      </div>
      <div class="register-wrap" v-show="pageStatus == 'register'">

        <el-form :model="registerForm" :rules="registerRules" ref="registerForm" class="register-form">

          <el-form-item prop="username">
            <el-input size="large" placeholder="Username" type="text" v-model="registerForm.username"></el-input>
          </el-form-item>
          <el-form-item prop="email">
            <el-input size="large" placeholder="Email address" v-model="registerForm.email"></el-input>
          </el-form-item>
          <el-form-item prop="password">
            <el-input size="large" placeholder="Password" type="password" v-model="registerForm.password"></el-input>
          </el-form-item>
          <el-form-item prop="confirmPassword">
            <el-input size="large" placeholder="Confirm Password" type="password" @keyup.native.enter="register"
                      v-model="registerForm.confirmPassword"></el-input>

          </el-form-item>
        </el-form>
        <div class="btn-box register">
          <button class="btn btn-primary btn-lg" @click="register">REGISTER NOW</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue';
  export  default {
    name: 'sign',
    data(){
      return {
        pageStatus: 'login',
        loginForm: {
          username: '',
          password: '',
        },
        loginRules: {
          username: [
            {required: true, message: 'Please type in your username', trigger: 'blur'},
            {min: 3, max: 10, message: 'Between 3 to 10 letters', trigger: 'blur'}
          ],
          password: [
            {required: true, message: 'Please type in your password', trigger: 'blur'},
            {min: 2, max: 10, message: "Between 2 to 10 digits", trigger:'blur'}
          ],
        },
        registerForm: {
          username: '',
          password: '',
          email: '',
          confirmPassword: '',
        },
        registerRules: {
          username: [
            {required: true, message: 'Please type in your username', trigger: 'blur'},
            {min: 3, max: 10, message: 'Between 3 to 10 letters', trigger: 'blur'}
          ],
          password: [
            {required: true, message: 'Please type in your password', trigger: 'blur'},
            {min: 2, max: 10, message: "Between 2 to 10 digits", trigger:'blur'}
          ],

          confirmPassword: [
            {required: true, message: 'Please type in your password', trigger: 'blur'},
            {min: 2, max: 10, message: "Between 2 to 10 digits", trigger:"blur"}
          ],
          email: [
            {required: true, message: 'Please type in your email', trigger: 'blur'},
            {type: 'email', message: 'Please enter correct email', trigger: 'blur,change'}
          ],
        }

      }
    },
    methods: {
      login(){
        this.$http.post("http://localhost:8080/login", {
          username: this.loginForm.username,
          password: this.loginForm.password
        }).then((response) => {
            if (response.body.result) {
              console.log(response.body)
              sessionStorage.setItem("userId", response.body.userId)
              this.$router.push("/home")
            } else {
              this.$message.error('Username and password do not match!');
              console.log(response.body)
            }
          }, (response) => {
            this.$message.error('Error!');
            console.log(response.body)
          }
        )
      },
      register(){
        if (this.registerForm.password === this.registerForm.confirmPassword) {
          this.$http.post("http://localhost:8080/register", {
            username: this.registerForm.username,
            email: this.registerForm.email,
            password: this.registerForm.password
          }).then(function (response) {
            if (response.body.result) {
              this.$router.push("/home")
            } else {
              this.$message.error('Username existed!');
            }
          }, function (response) {
            console.log(response.body)
            this.$message.error('Error!');
          })
        } else {
          this.$message.error('Confirm password incorrect!')
        }
      }
    }
  }
</script>
<style rel="stylesheet/scss" lang="scss">
  .sign {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;

    .login-panel {
      position: relative;
      height: 400px;
      width: 600px;
      box-shadow: 0 1px 5px #555;
      .tab-box {
        border-bottom: 1px solid #DDDDDD;
        .tab {
          float: left;
          width: 50%;
          text-align: center;
          font-size: 18px;
          height: 57px;
          line-height: 57px;
          color: #666;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            color: #029f5b;
          }
          &.active {
            color: #029f5b;
            font-size: 22px;
          }
        }
      }
      .login-form, .register-form {
        margin: 20px 30px 0 30px;
      }
      .btn-box {
        position: absolute;
        bottom: 30px;
        width: 100%;
        text-align: center;
      }
    }
    .forget-password {
      display: block;
      margin-top: 20px;
      color: #888;
      font-size: 18px;
      cursor: pointer;
    }
  }
</style>
