<template>
  <div class="upload">
    <Navbar></Navbar>
    <div class="upload-panel">
      <el-steps :space="600" :active="active" finish-status="success" :align-center="true" :center="true">
        <el-step title="Step 1" description="Upload photo"></el-step>
        <el-step title="Step 2" description="Add info"></el-step>
      </el-steps>
      <div class="photo-wrap" v-show="active==0">
        <el-upload
          class="avatar-uploader"
          action="http://localhost:8080/upload"
          :with-credentials="true"
          :show-file-list="false"
          :on-success="handleResponse"
        >
          <img v-if="imageUrl" :src="imageUrl" class="avatar">
          <i v-else class="el-icon-plus avatar-uploader-icon"></i>
        </el-upload>
        <div>Only jpg/png files，no larger than 5MB</div>
      </div>
      <div class="text-wrap" v-show="active==1">
        <el-form ref="form" :rules="rules" :model="form">
          <el-form-item label="Photo Name" prop="name">
            <el-input v-model="form.name"></el-input>
          </el-form-item>
          <el-form-item label="Photo Longitude" prop="coordinateX">
            <el-input v-model.number="form.coordinateX" placeholder="Coordinate X"></el-input>
          </el-form-item>
          <el-form-item label="Photo Latitude" prop="coordinateY">
            <el-input v-model.number="form.coordinateY" placeholder="Coordinate Y"></el-input>
          </el-form-item>
          <el-form-item
            v-for="(tag, index) in form.tags"
            :label="'Tag' + (index + 1)"
            :key="index"
            prop="tags"
          >
            <el-input v-model="form.tags[index]"></el-input>
            <el-button @click.prevent="removeTag(tag)">Delete</el-button>
          </el-form-item>

          <el-form-item label="Private photo" prop="ifPrivate">
            <el-switch on-text="" off-text="" v-model="form.ifPrivate"></el-switch>
          </el-form-item>

          <el-form-item label="Description" prop="text">
            <el-input type="textarea" v-model="form.text"></el-input>
          </el-form-item>

          <el-form-item>
            <el-button @click="addTag">Add tag</el-button>
            <el-button @click="resetForm('form')">Reset</el-button>
          </el-form-item>
        </el-form>

      </div>
      <div class="finish-wrap" v-show="active==2" style="margin-bottom: 50px">
        The photo has been uploaded
      </div>
      <el-button @click="next" :disabled="buttonStatus">{{buttonName}}</el-button>
    </div>
  </div>
</template>

<script>
  import Navbar from '../widgets/Navbar'
  import EXIF from 'exif-js'
  export default{
    data(){
      return {
        imageUrl: '',
        buttonName: "Next",
        buttonStatus: true,
        active: 0,
        fileList: [],
        uuid: 0,

        form: {
          name: '',
          coordinateX: '',
          coordinateY: '',
          tags: [],
          ifPrivate: false,
          text: ''
        },

        rules: {
          name: [
            {required: true, message: 'Please enter photo name', trigger: 'blur'},
            {min: 1, max: 10, message: 'Length in between 1 to 10', trigger: 'blur'}
          ],
          coordinateX: [
            {type: 'number', required: true, message: 'Please enter coordinate', trigger: 'blur'}
          ],
          coordinateY: [
            {type: 'number', required: true, message: 'Please enter coordinate', trigger: 'blur'}
          ],
          text: [
            {required: true, message: 'Please enter description', trigger: 'blur'}
          ]
        },
        message: "Message"
      };
    },
    mounted(){
      this.$http.get("http://localhost:8080/upload/id").then((response) => {
        this.uuid = response.body.uuid
        console.log(this.uuid)
      })
    },
    methods: {
      next() {
        if (this.active === 0) {
          this.active++;
          this.buttonName = "Submit"
        } else if (this.active === 1) {
          this.submitForm("form")
          this.buttonName = "Continue"
        } else if (this.active === 2) {
          location.reload()
        }
      },
      handleResponse(response, file){
        let self = this
        let reader = new FileReader()
        reader.onload = (e) => {
          let buffer = e.target.result
          let tags = EXIF.readFromBinaryFile(buffer);
          console.log(tags)
          if (!tags.GPSLatitude)
            return
          self.form.coordinateY = tags.GPSLatitude[0].numerator / tags.GPSLatitude[0].denominator
            + tags.GPSLatitude[1].numerator / tags.GPSLatitude[1].denominator / 60
            + tags.GPSLatitude[2].numerator / tags.GPSLatitude[2].denominator / 3600
          if (!tags.GPSLongitude)
            return
          self.form.coordinateX = tags.GPSLongitude[0].numerator / tags.GPSLongitude[0].denominator
            + tags.GPSLongitude[1].numerator / tags.GPSLongitude[1].denominator / 60
            + tags.GPSLongitude[2].numerator / tags.GPSLongitude[2].denominator / 3600
          console.log(self.form.coordinateY)
        }
        reader.readAsArrayBuffer(file.raw)
        this.buttonStatus = false;

        // to review the photo after upload
        this.imageUrl = URL.createObjectURL(file.raw);
        console.log(this.imageUrl)
      },

      submitForm(form){
        this.$refs[form].validate((valid) => {
          if (valid) {
            console.log(this.uuid)
            this.$http.post("http://localhost:8080/photo/info", {
              id: this.uuid,
              name: this.form.name,
              coordinateX: this.form.coordinateX - 0,
              coordinateY: this.form.coordinateY - 0,
              text: this.form.text,
              tag: this.form.tags,
              ifPrivate: this.form.ifPrivate,
            }).then((response) => {
                if (response.body.result) {
                  console.log(response.body)
                  this.active++;
                } else {
                  this.$message.error('Failed');
                  console.log(response.body)
                }
              }, (response) => {
                this.$message.error('Error!');
                console.log(response.body)
              }
            )
          } else {
            this.$message.error('Please check requirements before submitting!');
            console.log('Please check requirements before submitting!');
            return false;
          }
        });
      },
      removeTag(item) {
        var index = this.form.tags.indexOf(item)
        if (index !== -1) {
          this.form.tags.splice(index, 1)
        }
      },
      addTag() {
        console.log("add tag")
        this.form.tags.push('');
      },
      resetForm(form) {
        this.$refs[form].resetFields();
      }
    },
    components: {
      Navbar
    }
  }
</script>

<style rel="stylesheet/scss" lang="scss">
  .upload {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    height: 100%;
    width: 100%;
    position: absolute;
    .upload-panel {
      .photo-wrap {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .avatar-uploader .el-upload {
          border: 1px dashed #d9d9d9;
          border-radius: 6px;
          cursor: pointer;
          position: relative;
          overflow: hidden;
        }
        .avatar-uploader .el-upload:hover {
          border-color: #20a0ff;
        }
        .avatar-uploader-icon {
          font-size: 28px;
          color: #8c939d;
          width: 478px;
          height: 378px;
          line-height: 378px;
          text-align: center;
        }
        .avatar {
          width: 478px;
          display: block;
        }
      }
      .finish-wrap {
        margin-top: 50px;
      }
    }
  }
</style>
