<template>
  <div class="system-messages">
    <h3>System Messages</h3>
    <div class="message-container">
      <el-tooltip :content="message.message_more" placement="right" effect="light" v-for="message in messages">
        <div class="message-block">
          <div class="system-block"><h4><i class="el-icon-message"> {{message.user}} </i><span> |</span></h4></div>
          <div class="message-dialog">
            <p>{{message.message}}</p>
          </div>
        </div>
      </el-tooltip>
    </div>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        dialog: false,
        disabled: false,
        current_message: '',
        messages: [{
          user: 'system',
          message: "You have a new follower",
          message_more: 'You have a new follower~ You can check it under your user profile'
        },
          {
            user: 'system',
            message: "You have a new follower",
            message_more: 'You have a new follower~ You can check it under your user profile'
          },
          {
            user: 'system',
            message: "You have a new follower",
            message_more: 'You have a new follower~ You can check it under your user profile'
          },
          {
            user: 'system',
            message: "You have a new follower",
            message_more: 'You have a new follower~ You can check it under your user profile'
          },
          {
            user: 'system',
            message: "You have a new follower",
            message_more: 'You have a new follower~ You can check it under your user profile'
          },]
      }
    },
    methods: {
      open () {
        this.dialog = true
      },
      close () {
        this.dialog = false
        this.disabled = true
      }
    }
  }
</script>
<style rel="stylesheet/scss" lang="scss" scoped>
</style>
